{
    "presets": [
        "@babel/preset-react",
        [ "@babel/preset-env",{"modules": false, "comments": false } ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        [ "import", { "libraryName": "lodash" } ]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}