{
    "presets": [
        "react",
        [ "env",{"modules": false, "comments": false } ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}